@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background: linear-gradient(105deg, #ff8800, #0161df);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.esqueceu-senha {
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    align-self: flex-start;
}

.esqueceu-senha:hover {
    color: red;
}

.btn-login {
    padding: 10px;
    background: linear-gradient(105deg, #ff8800, #0161df);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.btn-login:hover {
    background: linear-gradient(135deg, #0161df, #ff8800);
    transform: scale(1.02);
}

.social-login-text {
    font-family: "Poppins", sans-serif;
    margin: 20px 0;
    color: #555;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    padding-top: 10px;
    margin: 0 10px;
    color: #555;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #ff8800;
}


@media (max-width: 600px) {
    .login-container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .social-icon {
        font-size: 20px;
        margin: 0 8px;
    }
}